<div class="modal fade bd-example-modal-lg" id="modalCosumer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Título do modal</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form method="POST" action="register/">
            <div class="modal-body">
                {% csrf_token %}
                {% for item in consumer_form %}
                    <div class="form-group">{{ form.nome.label_tag }}
                        <label for="name" class="col-form-label">{{ item.label_tag }}</label>
                        <p>{{ item }}
                    </div>
                {% endfor %}
                
                {% for item in discount_form %}
                    <div class="form-group">{{ form.nome.label_tag }}
                        <label for="name" class="col-form-label">{{ item.label_tag }}</label>
                        <p>{{ item }}</p>
                    </div>
                {% endfor %}
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="submit" class="btn btn-primary">Salvar mudanças</button>
            </div>
        </form>
        </div>
    </div>

    <script>
        document.getElementById('id_zip_code').addEventListener('blur', function() {
            const cep = this.value.replace(/\D/g, ''); 
            if (cep.length === 8) { 
                fetch(`https://viacep.com.br/ws/${cep}/json/`)
                .then(response => response.json())
                .then(data => {
                    // atualizar os campos do formulário com os dados do CEP
                    document.getElementById('id_city').value = data.localidade;
                    document.getElementById('id_state').value = data.uf;
                })
                .catch(error => {
                    console.error('Erro ao obter dados do CEP:', error);
                });
            }
        });
        </script>
        
        
        
        
</div>