{% extends 'partials/base.html' %}

{% block content %}
    <div class="container botoes" style="margin-top: 100px; width: fit-content; gap: 100px; display: flex; gap=50vh;">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCosumer">
            Adicionar
        </button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalFilter">
            Filtrar
        </button>

        {% include 'partials/modals/modal-form-consumer.html' %}
        {% include 'partials/modals/modal-filter.html' %}
    </div>

    <section class="container hero" style="margin-top: 20px; background-color: white; padding:24px;">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Consumo</th>
                <th scope="col">Cidade</th>
                <th scope="col">Estado</th>
                <th scope="col">Visualizar</th>
              </tr>
            </thead>
            <tbody>
                {% for consumer in consumers %}
                  
                    <tr>
                        <td>{{ consumer.name }}</td>
                        <td>{{ consumer.consumption }}</td>
                        <td>{{ consumer.city }}</td>
                        <td>{{ consumer.state }}</td>
                        <td>
                          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalDetail-{{ consumer.id }}">
                            visualizar
                        </button>
                      </td>
                      {% include 'partials/modals/modal-details.html' %}
                    </tr>
                {% endfor %}
              </tr>
            </tbody>
          </table>
    </section>
{% endblock %}